/Code/Addition/build/
/Code/ArithmeticOperations/nbproject/private/
/Code/ArithmeticOperations/build/
/Code/LightSpeed/build/
/LightSpeed/build/
/Addition/nbproject/private/
/LightSpeed/nbproject/private/
/circleArea/nbproject/private/
/circleArea/build/
/Datatypes_Examples/nbproject/private/
/Datatypes_Examples/build/
